apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: {{ .values.namespace }}
spec:
  replicas: {{ .values.replicaCount }}
  selector:
    matchLabels:
      app: flaskapp
  template:
    metadata:
      labels:
        app: flaskapp
    spec:
      containers:
        - name: flaskapp
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .values.image.containerPort }}
          env:
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: flask-secret
                  key: PASSWORD